:root {
    --header-height: 50px;
    --header-background-color: #24292f;

    --section-width: 650px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* header */
.header {
    width: 100%;
    height: var(--header-height);

    background-color: var(--header-background-color);

    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 500px;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo .logo--img {
    width: 60px;
    height: 50px;
}

.header .logo .logo--input {
    height: 30px;
    width: 300px;
    background-color: var(--header-background-color);
    border: 1px solid white;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
}

.header .logo .logo--input::placeholder {
    color: white;
    padding-left: 10px;
}

.header .logo button {
    position: relative;
    right: 25px;
    width: 20px;
    height: 20px;
    background-color: var(--header-background-color);
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}

.header .nav {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

.header .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .nav ul li {
    color: white;
    margin: 7px;
}

/* title--section */
.title--section {
    width: var(--section-width);
    height: 100px;
    margin-top: 35px;

    border-bottom: 1px solid grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title--section h1 {
    font-size: 20px;
}

.title--section p {
    font-size: 12.5px;
}

.title--section a {
    font-size: 12.5px;
}

/* input--section */

.input--section {
    width: var(--section-width);
    height: 160px;

    padding: 20px 0;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid grey;
}

.input--section div {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.input--section div .owner--input {
    display: flex;
    flex-direction: column;
}

.input--section div .owner--input label {
    padding-bottom: 5px;
}

.input--section div .owner--input input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 130px;
    height: 25px;

    background-color: #e0e0e0;
}

.input--section div .repository_name--input {
    display: flex;
    flex-direction: column;
}

.input--section div .repository_name--input label {
    padding-bottom: 5px;
}

.input--section div .repository_name--input input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 25px;

    background-color: #e0e0e0;
}

.input--section div .label--divide {
    position: relative;
    top: 25px;
    left: 8px;
    font-size: 22px;

    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
}

.input--section p {
    font-size: 12.5px;
    padding-bottom: 5px;
}

.input--section .input--description {
    display: flex;
    flex-direction: column;
}

.input--section .input--description label {
    margin-bottom: 5px;
    font-weight: 700;
}

.input--section .input--description label span {
    font-size: 12px;
}

/* check--section */
.check--section {
    width: var(--section-width);
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid grey;
}

.check--section .public {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

.check--section .public .public--description span {
    font-size: 14px;
    font-weight: 500;
}

.check--section .public .public--description p {
    font-size: 11px;
}

.check--section .private {
    display: flex;
    align-items: center;
}

.check--section .private img {
    margin: 0 4px;
}

.check--section .private .private--description span {
    font-size: 14px;
    font-weight: 500;
}

.check--section .private .private--description p {
    font-size: 11px;
}
