@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    /* text */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    /* computed */
    padding: 0px;
    margin: 0px;

    /* box */
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
